.card-title {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-size: 23px;
  font-weight: 500;
  letter-spacing: 0;
  color: #343434;
}

.card-body .icon-task,
.i-task {
  font-size: 30px;

}

.icon-task {
  color: #AD99FF;
}

.i-task {
  color: #FF8C04;
}

.card-subtitle {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0;
  color: #7B7979;
}

.card-text {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: normal;
  line-height: 23.4px;
  letter-spacing: 0;
  color: #343434;
}
.dropdown-menu li:hover,.dropdown-menu li a:focus {
  background-color: #DDD !important;
}
@media(max-width:992px) {
  .tasks .card {
    width: 100% !important;
  }
}
